@import "public/scss/style.scss";

.container {
  position: relative;
  background-color: #000;
}

.more_wrap {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  @include view("mobile") {
    padding-top: 70px;
    padding-bottom: 88px;
  }
}

.invitation_img {
  background-image: url("/img/more/invitation.jpg");
  background-size: 100% 100%;
  width: 30vw;
  height: 360vw;
  min-width: 700px;
  min-height: 6300px;
  @include view("mobile") {
    min-height: 0;
    min-width: 0;
    width: 100vw;
    height: 980vw;
  }
}
