@import "public/scss/style.scss";

.container {
  position: relative;
  background-color: #000;
}

.more_wrap {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  @include view("mobile") {
    padding-top: 70px;
    padding-bottom: 88px;
  }
}

.invitation_img {
  background-image: url("/img/more/invitation.webp");
  background-size: 100% 100%;
  width: 700px;
  height: 6978px;
  @include view("mobile") {
    width: 100vw;
    height: 1000vw;
  }
}
