@import "public/scss/style.scss";

.footer_container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #101012;
  flex-direction: column;
}

.footer_top {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 20vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  div {
    color: #f3f3f3;
    font-size: 2.17vw;
    font-weight: 300;
  }
  span {
    font-size: 3.2vw;
    color: #916ceb;
    font-weight: bold;
  }

  @include view("mobile") {
    height: 47vw;
    div {
      font-size: 18px;
    }
    span {
      font-size: 31px;
    }
  }
}

.footer_bottom {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  justify-content: center;
  padding: 60px;
  background-color: #101012;
  color: #636363;
  line-height: 26px;
  border-bottom: 1px solid #707070;
  img {
    width: 124.5px;
    height: 34.9px;
    margin: 0 auto 20px auto;
    &:hover {
      cursor: pointer;
    }
  }
  div {
    font-size: 16px;
    font-weight: 400;
  }

  @include view("mobile") {
    height: 178px;
    align-items: flex-start;
    text-align: start;
    padding: 100px 30px;
    img {
      width: 89.2px;
      height: 25px;
      margin: 0 auto;
    }
    div,
    span {
      font-size: 12px;
    }
  }
}

.footer_bottom_line2 {
  @include view("mobile") {
    display: flex;
    flex-direction: column;
  }
}

.footer_bold {
  @include view("mobile") {
    font-weight: bold;
  }
}

.footer_link {
  font-weight: bolder;
}

.footer_line3 {
  display: flex;
  max-width: 1300px;
  margin: auto;
  justify-content: space-between;
  padding: 60px 0;
  width: 70vw;
  @include view("small") {
    width: 95vw;
  }
  @include view("very_small") {
    width: 95vw;
  }
  @include view("mobile") {
    width: 90vw;
    flex-direction: column;
    padding: 20px 0;
  }
}

.footer_line3_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  @include view("mobile") {
    font-size: 14px;
    margin: 0;
  }
}

.footer_line3_left {
  margin-right: 80px;
  font-size: 16px;
  color: #636363;
  line-height: 24px;
  @include view("very_small") {
    font-size: 14px;
    margin-right: 20px;
  }
  @include view("mobile") {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.footer_line3_sns_title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  @include view("mobile") {
    margin: 0 0 4px 0;
  }
}

.flex {
  display: flex;
}

.footer_line3_left_wrap {
  display: flex;
  @include view("mobile") {
    flex-direction: column;
  }
}

.hover {
  cursor: pointer;
}
