@import "public/scss/style.scss";

.container {
  background-color: #000;
}

.more_wrap {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  @include view("mobile") {
    padding-top: 70px;
  }
}

.seminar_img {
  background-image: url("/img/more/seminar.webp");
  background-size: 100% 100%;
  width: 700px;
  height: 2200px;
  @include view("mobile") {
    width: 100vw;
    height: 310vw;
  }
}
